<!DOCTYPE html>
{% extends "login.html" %}
{% block body_block %}
<nav class="main-nav">
    <ul>
        <li><a href="{% url 'signup' %}">Join the club</a></li>
        <li><a href="{% url 'legacy' %}"class="join">Legacy of mario </a></li>
        <li><a href="{% url 'login' %}" >Login</a></li>
    </ul>

    </nav>
    
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis quod illum amet incidunt et asperiores, reiciendis consectetur veritatis itaque sint nulla. Fugiat reprehenderit ipsam aliquid odit a eligendi, debitis neque.
<br><br>
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dicta nulla tempore animi voluptas iusto consectetur, doloribus est, quo, optio placeat maiores deleniti neque quidem eius aspernatur praesentium. Recusandae, ea.
<br><br>
</p>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus illum odit dolorum corporis harum. Fugiat quas ab eaque enim sint eum alias ullam ratione harum, fuga iste doloribus explicabo provident.
<br><br>
</p>

{% endblock %}